<app-modal-upload-image>
</app-modal-upload-image>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">

                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font-color hide"></i>
                        <span class="caption-subject theme-font-color bold uppercase">BUSCAR PRE-REQUISITO</span>

                    </div>








                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true" >&times;</span>
                </button>
            </div>


            <div class="modal-body">

                <div class="portlet light ">

                    <div class="portlet-body">


                        <div class="">
                            <div class="input-icon right">
                                <i class="icon-magnifier" style="cursor: pointer;" (click)="searchRequisites(inputRequisites.value)"></i>

                                <input #inputRequisites aria-describedby="search" (keydown)="onKeydownRequirements($event, inputRequisites.value)" aria-label="searchEquivalences" [(ngModel)]="searchRequirements" name="searchRequirements" class="form-control" id="navbar-search-input2"
                                    placeholder="Buscar pre-requisitos..." type="text">
                            </div>


                        </div>

                        <div *ngFor="let requirement of requirements; let i = index" (click)="onRowClickRequirement(i,requirement)" [ngClass]="{'superactive': i == selectedRequirementRow}" style="cursor: pointer;height: 50px;border-radius: 5px;margin-top:7px;border: 1px solid #E1E1E1;background-color: transparent;padding-left: 10px;padding-right: 10px;padding-top: 10px;">


                            <div style="margin-right: 0px;">
                                <span title="{{requirement.name}}" style="font-weight:450;font-size:14px;color:#597a96;margin-top: 3px;">
                                               {{requirement.name}}
                                            </span>
                                <button type="button" (click)="deleteRequirement(requirement)" class="btn btn-circle red" style="padding: 0px 0px 1px 1px;height: 27px;width: 27px;margin-left: 3px;margin-top: 0px;float: right;" title="Dar de baja al rol: {{requirement.name}} "><i class="fa fa-trash"></i></button>

                            </div>





                        </div>




                    </div>
                </div>





                <div class="modal-footer" style="margin-right: 2px;">

                    <button type="button" *ngIf="!loading4" class="btn btn-primary" (click)="addRequirement()" style="width: 125px;">AGREGAR</button>

                    <div align="center" *ngIf="loading4">

                        <div class="stext-center bg-primary" style="width: 125px;height: 45px;border-radius: 2px;margin-top: -1px;">
                            <div class="dot-opacity-loader">
                                <span style="height: 10px;width: 10px;background-color: white;margin-top: 17px;"></span>
                                <span style="height: 10px;width: 10px;background-color: white;margin-top: 17px;"></span>
                                <span style="height: 10px;width: 10px;background-color: white;margin-top: 17px;"></span>
                            </div>
                        </div>

                    </div>

                    <button #btnCloseModal type="button" class="btn btn-secondary" style="width: 100px;" data-dismiss="modal">CERRAR</button>

                </div>


            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">

        <div *ngIf="loading" class="portlet light" style="border: 1px solid #E1E1E1;">
            <div class="portlet-body">
                <app-loading-spinner class="text-center"> </app-loading-spinner>
            </div>
        </div>

        <div *ngIf="!loading" class="portlet light" style="border: 1px solid #E1E1E1;">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font-color hide"></i>
                    <span class="caption-subject theme-font-color bold uppercase">BUSCAR CURSOS</span>

                </div>

                <div class="tools">
                    <button type="button" style="padding: 0px 0px 1px 1px;height: 28px;width: 28px;margin-left: 7px;margin-top: -10px;" (click)="insertCourse()" class="btn btn-circle green" title="Agregar un nuevo curso"> <i class="fa fa-plus" aria-hidden="true"></i></button>


                </div>

            </div>
            <div class="portlet-body">


                <ng-container>
                    <div class="">
                        <div class="input-icon right">
                            <i class="icon-magnifier" (click)="searchCourses(input.value)"></i>
                            <input type="text" class="form-control" #input aria-describedby="search" (keydown)="onKeydown($event, input.value)" aria-label="search" [(ngModel)]="search" name="search" class="form-control" id="navbar-search-input" placeholder="Buscar..." type="text">
                        </div>


                    </div>
                    <p style="margin-top: 10px;margin-bottom: 10px;opacity: 0.6;">{{results}}</p>

                    <div class="table-scrollable-borderless">


                        <div *ngFor="let course of courses; let i = index" (click)="onRowClick(i, course)" style="cursor: pointer;height: 80px;border-radius: 5px;margin-top:7px;border: 1px solid #E1E1E1;background-color: transparent;padding-left: 10px;padding-right: 10px;padding-top: 10px;"
                            [ngClass]="{'superactive': course._id == selectedCourse._id}">
                            <div class="ellipsis_cell" style="vertical-align: middle;padding-bottom: 0px;">



                                <div style="margin-right: 40px;">
                                    <span title="{{course.name}}" style="font-weight:550;font-size:14px;color:#597a96;margin-top: 3px;">
                                            {{course.name}}
                                          </span>


                                </div>

                                <div style="margin-right: 40px;">
                                    <span style="font-size:13px;font-weight:400;color:#aab8c2;margin-top: 1px;"> 
                                                Tipo: {{course.courseTypeName}} - Nivel: {{course.courseGroupName}} </span>
                                </div>

                            </div>
                            <div style="float:right;">
                                <div class="float-right" style="margin-top: -35px;">

                                    <button type="button" *ngIf="!course.unsubscribe" class="btn btn-circle red" style="padding: 0px 0px 1px 1px;height: 27px;width: 27px;margin-left: 3px;margin-top: 5px;" data-toggle="modal" data-target="#exampleModalCenter" (click)="deleteCourse(course,true)"
                                        title="Dar de baja al rol: {{course.name}} "><i class="fa fa-trash"></i></button>
                                    <button type="button" *ngIf="course.unsubscribe" class="btn btn-circle green" style="padding: 0px 0px 1px 1px;height: 27px;width: 27px;margin-left: 3px;margin-top: 5px;" data-toggle="modal" data-target="#exampleModalCenter" data-placement="top" (click)="deleteCourse(course,false)"
                                        title="Activar al rol: {{course.name}} "><i class="fa fa-check"></i></button>

                                </div>
                            </div>
                        </div>




                        <ng-container *ngIf="courses">
                            <div *ngIf="courses.length === 0" style="height: 50px;border-radius: 5px;margin-top:7px;border: 1px solid #E1E1E1;background-color: transparent;padding-left: 10px;padding-right: 10px;padding-top: 10px;">

                                <div class="text-center" style="margin-top: 3px;">
                                    <span style="font-size:14px;font-weight:400;opacity: 0.6;"> No se encontraron registros</span>
                                </div>
                            </div>
                        </ng-container>


                    </div>

                    <br>

                    <ul class="list-inline text-center">
                        <li>
                            <button type="button" class="btn btn-circle blue " (click)="changePage(-pageSize)" style="padding: 0px 0px 1px 1px;height: 27px;width: 27px;margin-left: 3px;margin-top: 0px;" data-toggle="tooltip" data-placement="top"><i class="fa fa-chevron-left"></i></button>

                        </li>
                        <li>
                            <p class="text-muted mt-1 ml-2 mr-2">Pag. {{page}} de {{totalPages}} </p>

                        </li>
                        <li>
                            <button type="button" class="btn btn-circle blue " (click)="changePage(pageSize)" style="padding: 0px 0px 1px 1px;height: 27px;width: 27px;margin-left: 3px;margin-top: 0px;" data-toggle="tooltip" data-placement="top"><i class="fa fa-chevron-right"></i></button>


                        </li>
                    </ul>
                </ng-container>


            </div>
        </div>

    </div>

    <div class="col-md-8">

        <div *ngIf="loading4" class="portlet light" style="border: 1px solid #E1E1E1;">
            <div class="portlet-body">
                <app-loading-spinner class="text-center"> </app-loading-spinner>
            </div>
        </div>

        <div *ngIf="!loading4" class="portlet light" style="border: 1px solid #E1E1E1;margin-left: -10px;">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font-color hide"></i>
                    <span class="caption-subject theme-font-color bold uppercase">{{selectedCourse.name}}</span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active" style="height: 50px;">
                        <a #btnActiveModal href="#tab_1_1" data-toggle="tab" aria-expanded="true" style="margin-top: 3px;">
                    CURSO </a>
                    </li>
                    <li class="" style="height: 50px;">
                        <a href="#tab_1_2" data-toggle="tab" aria-expanded="false">
                   PRE-REQUISITO(S)  <button type="button" style="padding: 0px 0px 1px 1px;height: 28px;width: 28px;margin-left: 7px;margin-top: 0px;" data-toggle="modal" data-target="#exampleModal1" title="Agregar un nuevo pre-requisito" class="btn btn-circle green"> <i class="fa fa-plus" aria-hidden="true"></i></button>
                  </a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <!--BEGIN TABS-->
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <form ngNativeValidate #fcourse="ngForm" style="padding: 5px;" (ngSubmit)="saveCourse(fcourse)">

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label>Nombre:</label>
                                    <div style="display: flex;">
                                        <input [(ngModel)]="selectedCourse.name" name="name" maxlength="100" required type="text" class="form-control">
                                        <i class="fa fa-asterisk ml-2 mt-3" title="El nombre del curso es obligatorio" style="color: #FF4747;vertical-align: middle;font-size: 12px;margin-top: 10px;margin-left: 5px;"></i>
                                    </div>

                                </div>

                            </div>

                            <div class="form-group row">

                                <div class="col-md-6">
                                    <label>Grupo:</label>
                                    <div style="display: flex;">
                                        <select [(ngModel)]="selectedCourse.courseGroupId" required name="courseGroup" class="form-control">
                                            <option value="0">Seleccione nivel</option>
                                            <option *ngFor="let grupo of courseGroups" [value]="grupo._id">
                                              {{ grupo.name }}
                                            </option>
                </select>
                                        <i class="fa fa-asterisk ml-2 mt-3" title="El nivel del curso es obligatorio" style="color: #FF4747;vertical-align: middle;font-size: 12px;margin-top: 10px;margin-left: 5px;"></i>
                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <label>Tipo</label>
                                    <div style="display: flex;">
                                        <select [(ngModel)]="selectedCourse.courseTypeId" required name="courseType" class="form-control">
                                            <option value="0">Seleccione tipo</option>
                                            <option *ngFor="let coursetype of courseTypes" [value]="coursetype._id">
                                              {{ coursetype.name }}
                                            </option>
                                          </select>
                                        <i class="fa fa-asterisk ml-2 mt-3" title="El tipo del curso es obligatorio" style="color: #FF4747;vertical-align: middle;font-size: 12px;margin-top: 10px;margin-left: 5px;"></i>
                                    </div>

                                </div>

                            </div>

                            <div class="form-group row">

                                <div class="col-md-6">
                                    <label>Plan curricular:</label>
                                    <div style="display: flex;">
                                        <select [(ngModel)]="selectedCourse.curricularPlanId" required name="curricularPlanId" class="form-control">
                                            <option value="0">Seleccione plan</option>
                                            <option *ngFor="let curricularPlan of curricularPlans" [value]="curricularPlan._id">
                                              {{ curricularPlan.name }}
                                            </option>
                                     </select>
                                        <i class="fa fa-asterisk ml-2 mt-3" title="El plan curricular del curso es obligatorio" style="color: #FF4747;vertical-align: middle;font-size: 12px;margin-top: 10px;margin-left: 5px;"></i>
                                    </div>

                                </div>

                                <div class="col-md-3">
                                    <label>Precio:</label>

                                    <input [(ngModel)]="selectedCourse.price" maxlength="20" name="price" type="number" class="form-control">


                                </div>

                                <div class="col-md-3">
                                    <label>en:</label>

                                    <select [(ngModel)]="selectedCourse.selectedMoney" name="selectedMoney" class="form-control">
                                            <option value="Soles">Soles</option>
                                            <option value="Dolares">Dólares</option>
                                        </select>


                                </div>

                            </div>

                            <div class="form-group row">

                                <div class="col-md-6">
                                    <label>Código:</label>
                                    <input [(ngModel)]="selectedCourse.code" maxlength="20" name="code" type="text" class="form-control">
                                </div>

                                <div class="col-md-3">
                                    <label>H. Teóricas:</label>
                                    <input [(ngModel)]="selectedCourse.theoreticalHours" name="theoreticalHours" type="number" class="form-control">
                                </div>
                                <div class="col-md-3">
                                    <label>H. Prácticas:</label>
                                    <input [(ngModel)]="selectedCourse.practicalHours" name="practicalHours" type="number" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label>Imagen:</label>
                                    <div>
                                        <img class="form-control" [src]="selectedCourse.image | image:'courses':'masculino'" style="cursor: pointer;height: 300px;margin: 0px;" (click)="showModal(selectedCourse._id)" alt="sample image">

                                    </div>

                                </div>

                            </div>


                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="exampleTextarea1">Destinado a:</label>
                                    <textarea [(ngModel)]="selectedCourse.destinedTo" maxlength="100" style="height: 70px;" name="destinedTo" class="form-control" rows="4"></textarea>
                                </div>
                                <div class="col-md-6">
                                    <label for="exampleTextarea1">Requisitos de ingreso:</label>
                                    <textarea [(ngModel)]="selectedCourse.entryRequirements" maxlength="100" style="height: 70px;" name="entryRequirements" class="form-control" rows="5"></textarea>
                                </div>
                            </div>



                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="exampleTextarea1">Objetivos generales:</label>
                                    <textarea [(ngModel)]="selectedCourse.generalObjectives" maxlength="100" style="height: 70px;" name="generalObjectives" class="form-control" rows="5"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="exampleTextarea1">Sumilla:</label>
                                <textarea [(ngModel)]="selectedCourse.sumilla" maxlength="500" style="height: 70px;" name="sumilla" class="form-control" rows="4"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="exampleTextarea1">Contenido del curso:</label>
                                <textarea [(ngModel)]="selectedCourse.contents" maxlength="500" style="height: 70px;" name="contents" class="form-control" rows="4"></textarea>
                            </div>

                            <br>

                            <div align="center" *ngIf="!loading3">
                                <input class="btn btn-primary" type="submit" value="Guardar curso" style="width: 130px;height: 45px;border-radius: 2px;">
                            </div>


                            <div align="center" *ngIf="loading3">

                                <div class="text-center bg-primary" style="width: 130px;height: 45px;border-radius: 2px;padding-top: 15px;">
                                    <app-loading-spinner2 class="text-center" style="margin-top: 25px;"> </app-loading-spinner2>
                                </div>

                            </div>



                        </form>
                    </div>
                    <div class="tab-pane" id="tab_1_2">
                        <ng-container *ngIf="selectedCourse.requirements">
                            <div *ngIf="selectedCourse.requirements.length === 0" style="height: 50px;border-radius: 5px;margin-top:7px;border: 1px solid #E1E1E1;background-color: transparent;padding-left: 10px;padding-right: 10px;padding-top: 10px;">

                                <div class="text-center" style="margin-top: 3px;">
                                    <span style="font-size:14px;font-weight:400;"> No se encontraron pre-requisitos para este curso</span>
                                </div>
                            </div>
                        </ng-container>
                        <div *ngFor="let requirement of selectedCourse.requirements; let i = index" (click)="onRowClickRequirement2(i,requirement)" [ngClass]="{'superactive': i == selectedRequirementRow2}" style="cursor: pointer;height: 50px;border-radius: 5px;margin-top:7px;border: 1px solid #E1E1E1;background-color: transparent;padding-left: 10px;padding-right: 10px;padding-top: 10px;">


                            <div style="margin-right: 0px;">
                                <span title="{{requirement.childName}}" style="font-weight:450;font-size:14px;color:#597a96;margin-top: 3px;">
                                               {{requirement.childName}}
                                            </span>
                                <button type="button" (click)="deleteRequirement(requirement)" class="btn btn-circle red" style="padding: 0px 0px 1px 1px;height: 27px;width: 27px;margin-left: 3px;margin-top: 0px;float: right;" title="Dar de baja al rol: {{requirement.childName}} "><i class="fa fa-trash"></i></button>

                            </div>





                        </div>

                    </div>
                </div>
                <!--END TABS-->
            </div>
        </div>



    </div>
</div>