<app-modal-upload-image></app-modal-upload-image>


<div class="row">
    <div class="col-md-4">

        <div *ngIf="loading" class="portlet light" style="border: 1px solid #E1E1E1;">
            <div class="portlet-body">
                <!-- <app-loading-spinner class="text-center"> </app-loading-spinner> -->
            </div>
        </div>

        <div *ngIf="!loading" class="portlet light" style="border: 1px solid #E1E1E1;">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font-color hide"></i>
                    <span class="caption-subject theme-font-color bold uppercase">USUARIOS</span>

                </div>

                <div class="tools">
                    <button type="button" style="padding: 0px 0px 1px 1px;height: 28px;width: 28px;margin-left: 7px;margin-top: -10px;" (click)="insertUser()" class="btn btn-circle green" title="Agregar un nuevo usuario"> <i class="fa fa-plus" aria-hidden="true"></i></button>


                </div>

            </div>
            <div class="portlet-body page-quick-sidebar-chat-users">


                <div class="">
                    <div class="input-icon right">
                        <i class="icon-magnifier" (click)="searchUsers(input.value)"></i>
                        <input type="text" class="form-control" #input aria-describedby="search" (keydown)="onKeydown($event, input.value)" aria-label="search" [(ngModel)]="search" name="search" class="form-control" id="navbar-search-input" placeholder="Buscar..." type="text">
                    </div>


                </div>

                <p style="margin-top: 10px;margin-bottom: 10px;opacity: 0.6;">{{results}}</p>


                <div class="table-scrollable-borderless">

                    <div *ngFor="let user of users; let i = index" [ngClass]="{'superactive': user._id == selectedUser._id}" (click)="onRowClick(i, user)" style="cursor: pointer;border-radius: 5px;margin-top:7px;border: 1px solid #E1E1E1;padding-left: 10px;padding-right: 10px;padding-top: 10px;padding-bottom: 10px;">

                        <div *ngIf="selectedUser" style="display: flex;">
                            <img [src]="user.img | image:'users'" class="img-responsive" style="cursor: pointer;;height: 50px;width: 50px;border-radius: 50%;" alt="profile image">
                            <div style="margin-left: 10px;">
                                <h4 class="mb-1" style="font-weight:550;font-size:14px;color:#597a96;margin-top: 5px;">{{user.name}} {{user.lastName}}</h4>
                                <p class="text-muted mb-1" style="font-size:13px;font-weight:400;color:#aab8c2;margin-top: -5px;">{{user.email}}</p>
                            </div>
                        </div>

                        <div style="float:right;">
                            <div class="float-right" style="margin-top: -45px;">

                                <button type="button" *ngIf="!user.unsubscribe" class="btn btn-circle red" style="padding: 0px 0px 1px 1px;height: 27px;width: 27px;margin-left: 3px;margin-top: 5px;" data-toggle="modal" data-target="#exampleModalCenter" (click)="deleteUser(user,true)"
                                    title="Dar de baja al usuario: {{user.name}} "><i class="fa fa-trash"></i></button>
                                <button type="button" *ngIf="user.unsubscribe" class="btn btn-circle green" style="padding: 0px 0px 1px 1px;height: 27px;width: 27px;margin-left: 3px;margin-top: 5px;" data-toggle="modal" data-target="#exampleModalCenter" data-placement="top" (click)="deleteUser(user,false)"
                                    title="Activar al usuario: {{user.name}} "><i class="fa fa-check"></i></button>

                            </div>
                        </div>

                    </div>


                    <ng-container *ngIf="users">
                        <div *ngIf="users.length === 0" style="height: 50px;border-radius: 5px;margin-top:7px;border: 1px solid #E1E1E1;background-color: transparent;padding-left: 10px;padding-right: 10px;padding-top: 10px;">

                            <div class="text-center" style="margin-top: 3px;">
                                <span style="font-size:14px;font-weight:400;opacity: 0.6;"> No se encontraron registros</span>
                            </div>
                        </div>
                    </ng-container>

                </div>

                <br>

                <ul class="list-inline text-center">
                    <li>
                        <button type="button" class="btn btn-circle blue " (click)="changePage(-pageSize)" style="padding: 0px 0px 1px 1px;height: 27px;width: 27px;margin-left: 3px;margin-top: 0px;" data-toggle="tooltip" data-placement="top"><i class="fa fa-chevron-left"></i></button>

                    </li>
                    <li>
                        <p class="text-muted mt-1 ml-2 mr-2">Pag. {{page}} de {{totalPages}} </p>

                    </li>
                    <li>
                        <button type="button" class="btn btn-circle blue " (click)="changePage(pageSize)" style="padding: 0px 0px 1px 1px;height: 27px;width: 27px;margin-left: 3px;margin-top: 0px;" data-toggle="tooltip" data-placement="top"><i class="fa fa-chevron-right"></i></button>


                    </li>
                </ul>


            </div>
        </div>

    </div>

    <div class="col-md-8">

        <div *ngIf="loading4" class="portlet light" style="border: 1px solid #E1E1E1;margin-left: -10px;">
            <div class="portlet-body">
                <!-- <app-loading-spinner class="text-center"> </app-loading-spinner> -->
            </div>
        </div>

        <div *ngIf="!loading4" class="portlet light" style="border: 1px solid #E1E1E1;margin-left: -10px;">


            <div style="border: 1px solid #E1E1E1;background-color: #F9FAFB;border-radius: 5px;margin-top:7px;border: 1px solid #E1E1E1;padding-left: 10px;padding-right: 10px;padding-top: 10px;padding-bottom: 10px;">

                <div *ngIf="selectedUser" style="display: flex;">
                    <img *ngIf="mode === 2" [src]="selectedUser.img | image:'users'" (click)="showModal(selectedUser._id)" class="img-responsive" style="cursor: pointer;;height: 100px;width: 100px;border-radius: 50%;" alt="profile image">
                    <div style="margin-left: 10px;">
                        <h4 class="mb-1" style="color: #5a7391;
                        font-size: 22px;
                        font-weight: 600;">{{selectedUser.name}} {{selectedUser.lastName}} {{selectedUser.secondLastName}}</h4>
                        <p class="text-muted mb-1" style="    text-transform: uppercase;
                        color: #5b9bd1;
                        font-size: 13px;
                        font-weight: 800;">{{selectedUser.email}}</p>
                        <p class="text-muted mb-1" style="opacity: 0.7;">{{selectedUser.phone}}</p>
                    </div>
                </div>


            </div>


            <div class="portlet-title tabbable-line">

                <ul class="nav nav-tabs">
                    <li class="active" style="height: 50px;">
                        <a href="#tab_1_1" data-toggle="tab" aria-expanded="true">
                    DATOS DEL USUARIO </a>
                    </li>
                    <li class="" style="height: 50px;">
                        <a href="#tab_1_2" data-toggle="tab" aria-expanded="false">
                    CAMBIAR CONTRASEÑA
                  </a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <!--BEGIN TABS-->
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <form ngNativeValidate #f="ngForm" style="padding: 5px;" (ngSubmit)="saveUser(f)">
                            <div>

                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label>Nombre:</label>

                                        <div style="display: flex;">
                                            <input [(ngModel)]="selectedUser.name" name="name" type="text" class="form-control">
                                            <i class="fa fa-asterisk ml-2 mt-3" title="El nombre del apoderado es obligatorio" style="color: #FF4747;vertical-align: middle;font-size: 12px;margin-top: 10px;margin-left: 5px;"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Segundo nombre:</label>
                                        <input [(ngModel)]="selectedUser.secondName" name="secondName" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label>Ap. paterno:</label>

                                        <div style="display: flex;">
                                            <input [(ngModel)]="selectedUser.lastName" name="lastName" required type="text" class="form-control">
                                            <i class="fa fa-asterisk ml-2 mt-3" title="El apellido paterno del apoderado es obligatorio" style="color: #FF4747;vertical-align: middle;font-size: 12px;margin-top: 10px;margin-left: 5px;"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Ap. materno:</label>
                                        <input [(ngModel)]="selectedUser.secondLastName" name="secondLastName" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group row">

                                    <div class="col-md-6">
                                        <label>Documento:</label>
                                        <div style="display: flex;">
                                            <input [(ngModel)]="selectedUser.document" name="document" required type="text" class="form-control">
                                            <i class="fa fa-asterisk ml-2 mt-3" title="El nro de documento del apoderado es obligatorio" style="color: #FF4747;vertical-align: middle;font-size: 12px;margin-top: 10px;margin-left: 5px;"></i>
                                        </div>

                                    </div>

                                    <div class="col-md-6">
                                        <label>Sexo:</label>

                                        <select [(ngModel)]="selectedUser.sex" name="sex" class="form-control">
                                            <option value="">Seleccione sexo</option>
                                            <option value="Masculino">Masculino</option>
                                            <option value="Femenino">Femenino</option>
                                        </select>

                                    </div>

                                </div>

                                <div class="border-bottom mb-3 mt-3">

                                </div>



                                <div class="form-group row">

                                    <div class="col-md-6">
                                        <label>Correo:</label>

                                        <div style="display: flex;">
                                            <input [(ngModel)]="selectedUser.email" name="email" type="email" required class="form-control">
                                            <i class="fa fa-asterisk ml-2 mt-3" title="El correo del apoderado es obligatorio" style="color: #FF4747;vertical-align: middle;font-size: 12px;margin-top: 10px;margin-left: 5px;"></i>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label>Celular:</label>
                                        <input [(ngModel)]="selectedUser.phone" name="phone" type="text" class="form-control">
                                    </div>

                                </div>


                            </div>

                            <br>
                            <hr>

                            <div align="center" *ngIf="!loading3">
                                <input class="btn btn-primary" type="submit" value="Guardar usuario" style="width: 170px;height: 45px;border-radius: 2px;">
                            </div>


                            <div align="center" *ngIf="loading3">

                                <div class="stext-center bg-primary" style="width: 170px;height: 45px;border-radius: 2px;">
                                    <div class="dot-opacity-loader">
                                        <span style="height: 10px;width: 10px;background-color: white;margin-top: 17px;"></span>
                                        <span style="height: 10px;width: 10px;background-color: white;margin-top: 17px;"></span>
                                        <span style="height: 10px;width: 10px;background-color: white;margin-top: 17px;"></span>
                                    </div>
                                </div>

                            </div>




                        </form>
                    </div>
                    <div class="tab-pane" id="tab_1_2">

                        <form ngNativeValidate #f2="ngForm" style="padding: 5px;" (ngSubmit)="changePassword(f2)">
                            <div>




                                <div class="form-group row">

                                    <div class="col-md-6">
                                        <label>Nueva contraseña:</label>

                                        <div style="display: flex;">
                                            <input [(ngModel)]="selectedUser.password" name="password" type="text" required class="form-control">
                                            <i class="fa fa-asterisk ml-2 mt-3" title="La contraseña nueva es obligatoria" style="color: #FF4747;vertical-align: middle;font-size: 12px;margin-top: 10px;margin-left: 5px;"></i>
                                        </div>

                                    </div>

                                    <div class="col-md-6">
                                        <label>Nueva contraseña:</label>

                                        <div style="display: flex;">
                                            <input [(ngModel)]="selectedUser.repassword" name="repassword" type="text" required class="form-control">
                                            <i class="fa fa-asterisk ml-2 mt-3" title="La contraseña nueva es obligatoria" style="color: #FF4747;vertical-align: middle;font-size: 12px;margin-top: 10px;margin-left: 5px;"></i>
                                        </div>

                                    </div>

                                </div>


                            </div>

                            <br>
                            <hr>

                            <div align="center" *ngIf="!loading3">
                                <input class="btn btn-primary" type="submit" value="Cambiar contraseña" style="width: 170px;height: 45px;border-radius: 2px;">
                            </div>


                            <div align="center" *ngIf="loading3">

                                <div class="text-center bg-primary" style="width: 170px;height: 45px;border-radius: 2px;padding-top: 15px;">
                                    <!-- <app-loading-spinner2 class="text-center" style="margin-top: 25px;"> </app-loading-spinner2> -->
                                </div>

                            </div>




                        </form>

                    </div>
                </div>
                <!--END TABS-->
            </div>
        </div>



    </div>
</div>