<div class="page-sidebar-wrapper">
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">

            <li [ngClass]="li1">
                <a href="javascript:;">
                    <i class="icon-home"></i>
                    <span class="title">Inicio</span>
                </a>
                <ul class="sub-menu">
                    <li [ngClass]="li21">
                        <a [routerLink]="['/dashboard']" (click)="activeL11()">
                            Resumen
                        </a>
                    </li>
                </ul>
            </li>

            <li [ngClass]="li2">
                <a href="javascript:;">
                    <i class="icon-briefcase"></i>
                    <span class="title"> Plan curricular</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li [ngClass]="li21">
                        <a [routerLink]="['/curricular-plan']" (click)="activeL21()">
                            Planes
                        </a>
                    </li>
                    <li [ngClass]="li22">
                        <a [routerLink]="['/course']" (click)="activeL22()">
                        Cursos
                        </a>
                    </li>
                    <li [ngClass]="li23">
                        <a [routerLink]="['/course-type']" (click)="activeL23()">
                          Tipos
                        </a>
                    </li>
                    <li [ngClass]="li24">
                        <a [routerLink]="['/course-group']" (click)="activeL24()">
                            Niveles
                        </a>
                    </li>

                </ul>
            </li>

            <li [ngClass]="li3">
                <a href="javascript:;">
                    <i class="icon-rocket"></i>
                    <span class="title">Programación</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li [ngClass]="li31">
                        <a [routerLink]="['/classroom']" (click)="activeL31()">
                            Aulas
                        </a>
                    </li>
                    <li [ngClass]="li32">
                        <a [routerLink]="['/teacher']" (click)="activeL32()">
                            Docentes
                        </a>
                    </li>
                    <li [ngClass]="li33">
                        <a [routerLink]="['/programming']" (click)="activeL33()">
                            Programación de cursos
                        </a>
                    </li>


                </ul>
            </li>

            <li [ngClass]="li4">
                <a href="javascript:;">
                    <i class="icon-diamond"></i>
                    <span class="title">Matrícula</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li [ngClass]="li41">
                        <a [routerLink]="['/student']" (click)="activeL41()">
                            Alumnos
                        </a>
                    </li>
                    <li [ngClass]="li42">
                        <a [routerLink]="['/inscription']" (click)="activeL42()">
                            Matrícula
                        </a>
                    </li>

                    <li [ngClass]="li43">
                        <a [routerLink]="['/enrollment']" (click)="activeL43()">
                            Rectificación
                        </a>
                    </li>



                    <li [ngClass]="li44">
                        <a [routerLink]="['/enrollments-course']" (click)="activeL44()">
                            Matriculados por curso
                        </a>
                    </li>

                    <li [ngClass]="li45">
                        <a [routerLink]="['/invoice']" (click)="activeL45()">
                            Facturas
                        </a>
                    </li>


                </ul>
            </li>

            <li [ngClass]="li5" class="last ">
                <a href="javascript:;">
                    <i class="icon-pointer"></i>
                    <span class="title">Seguridad</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li [ngClass]="li51">
                        <a [routerLink]="['/user']" (click)="activeL51()">
                            Usuarios
                        </a>
                    </li>

                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>